<component name="ArtifactManager">
  <artifact type="war" name="mybatis_base_anno:war">
    <output-path>$PROJECT_DIR$/mybatis_base_anno/target</output-path>
    <root id="archive" name="mybatis_base_anno.war">
      <element id="artifact" artifact-name="mybatis_base_anno:war exploded" />
    </root>
  </artifact>
</component>